include ../config/config.pug
include ../mixins/pages-links.pug

doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes")
        link(rel="stylesheet", href="css/styles.css")
        link(rel="shortcut icon", href="assets/favicon/favicon.ico", type="image/x-icon")
        title Bugs Project - versión 0.1
    body
        block main
        
        block script
            script(src="js/scripts-min.js")