body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: $text-color;
    font-family: $main-font, $main-font-respaldo;

    background-image: radial-gradient(circle, royalblue, rgb(118, 151, 248));
    background-repeat: no-repeat;
}