-const pages = ['Agregar Conejo', 'Agregar Montas', 'Agregar Partos', 'Buscar (Actu. - Elim.)', 'Mostrar Conejos', 'Mostrar Montas', 'Mostrar Partos', 'Mostrar Raza', 'Mostrar Sexo']

-const pagesLinks = ['agregar.html', 'agregar-montas.html', 'agregar-partos.html', 'buscar.html', 'mostrar.html', 'mostrar-montas.html', 'mostrar-partos.html', 'mostrar-raza.html', 'mostrar-sexo.html']