.container-buscarMontas {
  width: 98vw;
  height: 82vh;
  margin: 0 auto 0.5vh;
  padding: 1vh 0vw;  
  background-color: royalblue;
  border-radius: 5px;  

  &__container__formularioBuscarMontas {  

    &__formularioBuscarMontas {
      width: 95vw;
      height: 5vh;
      margin: 0vh auto 2vh;
  
      display: flex;
      justify-content: space-around;
      align-items: center;
  
      background-color: rgb(125, 156, 248);
      border-radius: 5px;
    }
  }
  
  &__container-formularioMontaEncontrada {
      
    &__formularioMontaEncontrada {
      width: 95vw;
      height: 72.5vh;
      margin: 0vh auto 2vh;
      padding: 2vh 0vw;  

      display: grid;
      grid-template-columns: repeat(1, 35vw 65vw);
      grid-template-rows: repeat(5, 3vh);
      justify-items: flex-start;
      align-items: flex-start;
      row-gap: 1vh; 

      background-color: rgb(125, 156, 248);
      border-radius: 5px;

        & label {
          margin-left: 2vw;
        }
  
        & button {
          width: 50%;
          margin: 35px auto 0px;
          padding: 5px 0px;

          grid-column: 1/3;  

          text-transform: uppercase;
          text-align: center;
          color: $text-color; 

          border: none;
          outline: none;
          border-radius: 5px; 
           
          background-color: royalblue;
        }
  
        & button:hover,
        & button:focus {
          color: royalblue;
          background-color: $text-color;
        }
  
        & button:active {
          transform: scale(0.95);
        }
    }
  }
}

.container-error__agregar-montas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%;
  height: 5%;
  margin: 2% 1%;
  padding: 0px 5px;
  border-radius: 5px;
  
    &__parrafo {
      color: $text-color
    }
}
  
.container-error-visible {
  background-color: $secundary-danger-color;
}
  
.container-error-visible-OK {
  background-color: $primary-color;
}